body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-image: url(assets/capa-madmax.jpg);
    color:aliceblue;
}

#cabecalhoTudo{
    width: 80%;   
    margin: 0 auto;  
    padding-top: 1em;  
}

.cabecalhoNavegacao{
    
}

.itemNavegacao{
    display: inline-block;
    position: relative;
    margin-left: 5em;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;

}

#tituloPrincipal{
    font-weight: bold;
    font-size: 6rem;
    text-transform: uppercase; 
}

.informacaoPrincipalDestaque{

}