body{
    font-family: 'Montserrat', sans-serif;
}

header{
    color:aliceblue;
    position: relative;
    padding: 1.5em 2em;
    display: flex;
}

#imagemFundo{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-image: url(assets/capa-madmax.jpg);
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#logotipoIMDB{
    width: 8vw;
    position: absolute;
    top: 5%;  
}

#cabecalhoTudo{   
    position: static;
    left: 0px;
    top: 0px;
    z-index: 99;
    width: 75%;   
    margin: 0 auto;
}

header nav{
    position:absolute;
    top: 7%;
    left: 50%; 
    transform: translateX(-50%);
    vertical-align: top;
}

.itemNavegacao{
    display: inline-block;
    margin: 0 40px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.nomePerfil{
    margin-left: 5em;
    margin-right: 2em;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#imagemPerfil{
    position: absolute;
    border-radius: 100%;
    width: 2.5em;
    display: inline-block;
    right: 17%;
    top: 5.4%;
}

#pqNao{
    position: absolute;
    right: 10%;
    top: 8.5%;
    width: 10%;
    top
}

#tituloPrincipal{
    margin: 40% 0 1.5rem 0;
    font-weight: bold;
    font-size: 5rem;
    text-transform: uppercase; 
}

.itemEstiloFilme{
    display: inline-block;
    margin: 1.5em 20px 1.5em 0;
    text-transform: uppercase;
    font-size: 14px;
}

.botaoAssistirTrailer{
    border-radius: 25px;
    border: none;
    width: 200px;
    height: 50px;
    background-color: rgb(221, 186, 31);
    margin: 1.5em 0 3em 0;
    font-size: 17px;
}

#dataLancamento{
    margin: 1.5em 0 3em 0;
    color: rgba(255, 208, 0, 0.582);
}
/*MAIN*/
main {
    background-color: rgb(240, 235, 235);
    padding: 1.5em;
    /* margin: 0 auto; */
    position: relative; 
}

.mainDelimitacao{
    width: 90%;
    margin: 0 auto;  
}

.topoMainUl{
    margin: 1.5em auto;
    text-align: center;
}

.itemTopoMain{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    display: inline;
    margin-right: 40px;
    color: orange;
}

hr{
    width: 83%;
    filter: opacity(0.3);
}

.listaDeFilmes{
    text-align: center;
}

.itemFilmes{
    background-color: whitesmoke;
    text-align: left;
    border-radius: 10px;
    display: inline-block;
    list-style-type:none;
    width: 20%;
    margin: 1rem 3px 1rem 3px;
    box-shadow: -0.1px 0.7px rgb(199, 199, 199);
    
}

.imagemItemFilmes{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.delimitacaoItem{
    width: 90%;
    margin: 0 auto;
}

h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    left:0;
    margin: 10px 0;
}

.classificacao{
    color: rgba(248, 182, 60, 0.925);
    font-size: 13px;
    margin-bottom: 10px;
}
.coracao{
    font-size: 23px;;
    color: lightgray;
    float: left;
}
.nota{
    text-align: right;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px;
}
/*FOOTER*/

footer{
    margin: 0 auto 30px auto;
    width:70%;
    padding: 30px 0;
}

#listaRedes{
    text-align: right; 
    position: relative;
    top: 20px;
}

.redeSocial{
    display: inline;
    font-size: 12px;
    margin: 0 20px; 
    vertical-align: center;   
}

.logoFooter{
    float: left;
}